*~
workflow/refs/
workflow/misc/
workflow/logs/
.snakemake/

resources/software/*
!resources/software/download_hicpro_img.sh

results/*
!results/test/
results/test/*
!results/test/config_test_latest.txt
!results/test/README.txt
!results/test/sra/

results/main

results/refs/*
!results/refs
results/refs/*
!results/refs/hicpro/

.new_samples/
